.fixed-size-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: lime;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fixed-size {
  width: 150px;
  height: 100px;
  background-color: #990b47;
  /* line-height: 100px; */ /* I am not sure what this line does */
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
